.marimo {
    --med-blue: #0077cc;
    --light-blue: #c1dafd;
    --dark-blue: #2858b3;
    --darkest-blue: #123767;
    --green: #9ae9b3;
    --dark-green: #0a6000;
    --light-red: #ff9494;
    --dark-red: #8f0000;
    --background-color: #f8f9fa;
    --border-color: #e0e0e0;
}