.question {
  margin: 5px;
  padding: 10px;

  .question-title {
    font-weight: 800;
  }

  input {
    margin-right: 10px;
  }

  li {
    padding: 5px;
  }

  li.correct {
    border: 1px solid green;
  }

  li.incorrect {
    border: 1px solid red;
  }
}

.submit {
  background-color: aqua;
  color: black;
  border-radius: 4px;
  border: 1px solid rgb(13, 111, 111);
  padding: 5px;
}

.submit:hover {
  background-color: black;
  color: white;
}
