.drag-words-widget {
  padding: 1.5rem; 

  .title {
    margin-bottom: 1rem;
  }

  .question {
    font-size: 1.1rem;

    div {
      display: inline-flex;
      position: relative;
      height: 100%;
      margin: 2px;
      border-radius: 18px;
      vertical-align: middle;
      justify-content: flex-end;

      svg {
        display: inline-block;
        justify-self: end;
        width: 1rem;
        color: white;
        transform: translateX(5px);
      }
    }

    .blank {
      width: 5rem;
      padding: 0.75rem;
      border: 1px solid black;
      background-color: white;
    }

    .filled {
      width: auto;
      height: 100%;
      padding: 5px 10px 5px 10px;
      border: 1px solid #4299e1;
      color: #4299e1;
    }

    .revealed {
      width: auto;
      height: 100%;
      padding: 5px 10px 5px 10px;
      border: 1px solid #2858b3;
      background-color: white;
      color: #2858b3;
    }

    div.correct {
      border: none;
      background-color: var(--green);
      color: var(--dark-green);
    }

    div.incorrect {
      border: none;
      background-color: var(--light-red);
      color: var(--dark-red);
    }

    .blank.incorrect {
      padding: 0.5rem;
    }
  }

  .words-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 5px;
    border: 1px solid #4a5568;
    border-radius: 18px;
    padding: 10px;
    margin: 20px 0px;

    .word-box {
      display: inline-block;
      padding: 5px 10px 5px 10px;
      border-radius: 18px;
      background-color: #4299e1;
      color: white;
      cursor: pointer;
    }

    .word-box:hover {
      background-color: #3182ce;
      color: white;
    }

    .word-box.selected {
      background-color: #939393;
      color: white;
    }
  }

  .bottom-banner {
    display: flex;
    flex-direction: row;
    gap: 10px;
    .submit {
      background-color: #264653;
      color: white;
      padding: 5px 10px 5px 10px;
      border-radius: 5px;
      cursor: pointer;
    }
    .submit:hover,
    .retry:hover,
    .restart:hover,
    .show-solution:hover {
      border: 1px solid #264653;
      color: #264653;
      background-color: white;
    }
    .retry,
    .restart {
      background-color: #ea8cff;
      color: white;
      padding: 5px 10px 5px 10px;
      border-radius: 5px;
      cursor: pointer;
    }

    .show-solution {
      background-color: #a3b18a;
      color: white;
      padding: 5px 10px 5px 10px;
      border-radius: 5px;
      cursor: pointer;
      margin-right: 5px;
    }
  }

  .result {
    font-weight: bolder;
    font-size: 1.3rem;
    color: var(--dark-blue);
    margin-top: 1rem;
  }
  
}
