.drag-words-widget {
  .instruction-text {
    font-weight: 800;
    margin: 10px;
  }

  .question {
    margin: 20px;

    div {
      display: inline-flex;
      position: relative;
      height: 100%;
      margin: 2px;
      border-radius: 5px;
      vertical-align: middle;
      justify-content: flex-end;

      svg {
        display: inline-block;
        justify-self: end;
        width: 1rem;
        color: white;
      }
    }

    .blank {
      width: 5rem;
      padding: 0.75rem;
      border: 1px solid black;
      background-color: white;
    }

    .filled {
      width: auto;
      height: 100%;
      padding: 5px 10px 5px 10px;
      background-color: #86bbd8;
      color: white;
    }

    .revealed {
      width: auto;
      height: 100%;
      padding: 5px 10px 5px 10px;
      border: 1px solid #219ebc;
      background-color: white;
      color: #219ebc;
    }

    div.correct {
      border: none;
      background-color: #2a9d8f;
      color: white;
    }

    div.incorrect {
      border: none;
      background-color: #e76f51;
      color: white;
    }

    .blank.incorrect {
      padding: 0.5rem;
    }
  }

  .words-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 5px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;

    .word-box {
      display: inline-block;
      padding: 5px 10px 5px 10px;
      border-radius: 5px;
      background-color: #e9c46a;
      color: black;
      cursor: pointer;
    }

    .word-box:hover {
      background-color: #f4a261;
      color: white;
    }

    .word-box.selected {
      background-color: #939393;
      color: white;
    }
  }

  .bottom-banner {
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin: 10px;
    .submit {
      background-color: #264653;
      color: white;
      padding: 5px 10px 5px 10px;
      border-radius: 5px;
      cursor: pointer;
    }
    .submit:hover,
    .retry:hover,
    .restart:hover,
    .show-solution:hover {
      border: 1px solid #264653;
      color: #264653;
      background-color: white;
    }
    .retry,
    .restart {
      background-color: #ea8cff;
      color: white;
      padding: 5px 10px 5px 10px;
      border-radius: 5px;
      cursor: pointer;
    }

    .show-solution {
      background-color: #a3b18a;
      color: white;
      padding: 5px 10px 5px 10px;
      border-radius: 5px;
      cursor: pointer;
      margin-right: 5px;
    }
  }
}
