.marimo {
    --med-blue: #0077cc;
    --light-blue: #c1dafd;
    --dark-blue: #2858b3;
    --darkest-blue: #123767;
    --green: #9ae9b3;
    --dark-green: #0a6000;
    --light-red: #ff9494;
    --dark-red: #8f0000;
    --white-checkmark: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20class%3D%22checkmark-circle%22%20stroke%3D%22%23ffffff%22%3E%3Cg%20id%3D%22SVGRepo_bgCarrier%22%20stroke-width%3D%220%22%3E%3C/g%3E%3Cg%20id%3D%22SVGRepo_tracerCarrier%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%3E%3C/g%3E%3Cg%20id%3D%22SVGRepo_iconCarrier%22%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M1%2012C1%205.92487%205.92487%201%2012%201C18.0751%201%2023%205.92487%2023%2012C23%2018.0751%2018.0751%2023%2012%2023C5.92487%2023%201%2018.0751%201%2012ZM18.4158%209.70405C18.8055%209.31268%2018.8041%208.67952%2018.4127%208.28984L17.7041%207.58426C17.3127%207.19458%2016.6796%207.19594%2016.2899%207.58731L10.5183%2013.3838L7.19723%2010.1089C6.80398%209.72117%206.17083%209.7256%205.78305%2010.1189L5.08092%2010.8309C4.69314%2011.2241%204.69758%2011.8573%205.09083%2012.2451L9.82912%2016.9174C10.221%2017.3039%2010.8515%2017.301%2011.2399%2016.911L18.4158%209.70405Z%22%20fill%3D%22%23ffffff%22%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
    --green-checkmark: url("data:image/svg+xml,%3Csvg fill='%230a6000' viewBox='0 0 32 32' version='1.1' xmlns='http://www.w3.org/2000/svg' class='checkmark'%3E%3Cg id='SVGRepo_bgCarrier' stroke-width='0'%3E%3C/g%3E%3Cg id='SVGRepo_tracerCarrier' stroke-linecap='round' stroke-linejoin='round'%3E%3C/g%3E%3Cg id='SVGRepo_iconCarrier'%3E%3Ctitle%3Echeckmark2%3C/title%3E%3Cpath d='M28.998 8.531l-2.134-2.134c-0.394-0.393-1.030-0.393-1.423 0l-12.795 12.795-6.086-6.13c-0.393-0.393-1.029-0.393-1.423 0l-2.134 2.134c-0.393 0.394-0.393 1.030 0 1.423l8.924 8.984c0.393 0.393 1.030 0.393 1.423 0l15.648-15.649c0.393-0.392 0.393-1.030 0-1.423z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
    --red-cross: url("data:image/svg+xml,%3Csvg fill='%238f0000' viewBox='0 0 32 32' version='1.1' xmlns='http://www.w3.org/2000/svg' class='x-mark'%3E%3Cg id='SVGRepo_bgCarrier' stroke-width='0'%3E%3C/g%3E%3Cg id='SVGRepo_tracerCarrier' stroke-linecap='round' stroke-linejoin='round'%3E%3C/g%3E%3Cg id='SVGRepo_iconCarrier'%3E%3Ctitle%3Ecancel2%3C/title%3E%3Cpath d='M19.587 16.001l6.096 6.096c0.396 0.396 0.396 1.039 0 1.435l-2.151 2.151c-0.396 0.396-1.038 0.396-1.435 0l-6.097-6.096-6.097 6.096c-0.396 0.396-1.038 0.396-1.434 0l-2.152-2.151c-0.396-0.396-0.396-1.038 0-1.435l6.097-6.096-6.097-6.097c-0.396-0.396-0.396-1.039 0-1.435l2.153-2.151c0.396-0.396 1.038-0.396 1.434 0l6.096 6.097 6.097-6.097c0.396-0.396 1.038-0.396 1.435 0l2.151 2.152c0.396 0.396 0.396 1.038 0 1.435l-6.096 6.096z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
}

/* Information tooltip */
.info-tooltip {
    border-radius: 50%;
    border: 1.5px solid var(--med-blue);
    width: 1rem;
    height: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 0.8rem;
    color: var(--med-blue);
    cursor: pointer;

    &:hover {
        color: white;
        background-color: var(--med-blue);
        transition: background-color 0.2s ease;
    }
}

.tippy-box {
    background-color: var(--light-blue);
    color: black;
    font-size: 14px;
    border-radius: 10px;
    padding: 5px 10px;
    font-weight: lighter;
    text-align: center;
    width: 150px;
    transition: none;
    opacity: 0;
}

.tippy-box[data-state="visible"] {
    opacity: 1;
    transition: opacity 0.2s ease;
}

.tippy-arrow {
    position: absolute;
    width: 10px;
    height: 10px;
    transition: inherit;
}

.tippy-box[data-placement^="bottom"] .tippy-arrow {
    bottom: 100%;
    left: 50%;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid var(--light-blue);
}

.tippy-box[data-placement^="left"] .tippy-arrow {
    left: 100%;
    top: 50%;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid var(--light-blue);
}

/* Font-related */
.title {
  font-size: 1.3rem;
  font-weight: bold;
}

.instruction {
  font-size: 1.1rem;
}

button {
  font-size: 1rem;
}

.check-button {
    background-color: var(--dark-blue);
    color: white;
    border-radius: 18px;
    display: inline-flex;
    padding: 0.4rem 1.6rem 0.4rem 1.5rem;
    margin: 10px 0px;

    &:hover {
        background-color: var(--darkest-blue);
        transition: background-color 0.2s ease;
    }

    &:disabled {
        display: none;
    }
}

.check-button::before {
    content: "";
    display: block;
    width: 1.1rem;
    height: 1em;
    background-image: var(--white-checkmark);
    background-size: contain;
    background-repeat: no-repeat;
    margin: auto;
    margin-right: 8px;
}

.try-button {
    background-color: var(--dark-blue);
    color: white;
    border-radius: 18px;
    display: inline-flex;
    padding: 0.4rem 1.6rem 0.4rem 1.5rem;
    margin: 10px 0px;

    &:hover {
        background-color: var(--darkest-blue);
        transition: background-color 0.2s ease;
    }

    &:disabled {
        display: none;
    }
}

.feedback {
    font-size: 0.85rem;
    padding: 0.6rem;
    border-radius: 6px;
    margin-top: 0.5rem;
    display: flex;
    align-items: center;
    color: white;
}
  
.feedback.correct {
    background-color: var(--green);
    color: var(--dark-green);
}

.feedback.correct::before {
    content: "";
    display: inline-block;
    width: 1.1rem;
    height: 1em;
    background-image: var(--green-checkmark);
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 8px;
}

.feedback.incorrect {
    background-color: var(--light-red);
    color: var(--dark-red);
}

.feedback.incorrect::before {
    content: "";
    display: inline-block;
    width: 1.1rem;
    height: 1em;
    background-image: var(--red-cross);
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 8px;
}

